@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.border-card {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.card-content {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  color: black;
  border-color: black;
  border-width: 3px;

}

.card-text {
  color: #2563eb;
  margin-bottom: 1.25rem;  
  margin-top: 1.25rem;    
  font-size: 1.25rem;     
  line-height: 1.75rem;   
  color: #71717a;      
}

.h1 {
  font-size: 1.875rem;       
  font-weight: 600;          
  line-height: 2.5rem;       
  letter-spacing: -0.02em;  
  color: #000000;            
  text-align: center;        
  margin-top: 2.5rem;        
  margin-bottom: 3.75rem;  
}

